@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Caveat;
  font-size: 3em;
  color: #7b2d88;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #7449948f;
  background-image: url("./cat-lollipop.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right bottom;
}

.modal {
  width: 500px;
  height: 250px;
  background-color: #fff;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  transform: translateY(-50px);
}

input[type="submit"] {
  display: block;
  margin: auto;
  font-size: 1.25em;
  width: 50%;
  padding: 10px;
  background-color: #6e1280;
  color: #fff;
  border: none;
}

input[type="text"] {
  display: block;
  margin: 30px auto;
  width: 85%;
  text-align: center;
  font-size: 1.25em;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  background-color: #7449948f;
}

li {
  padding: 15px 0;
}

li:nth-of-type(2n) {
  background-color: #fff;
}

.username {
  font-style: italic;
}
