@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfd2e9;
  color: #352638;
  background-image: url("./cat-lollipop.png");
  background-repeat: no-repeat;
  background-size: 225px;
  background-position: 102% 77%;
    background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Caveat;
  font-size: 3em;
  color: #7b2d88;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: #b299c4;
  background-image: url("./cat-lollipop.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right bottom;
  z-index: 1;
  position: relative;
}

.modal {
  width: 500px;
  height: 250px;
  background-color: #fff;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  transform: translateY(-50px);
  z-index: 2;
}

input[type="submit"] {
  display: block;
  margin: auto;
  font-size: 1.25em;
  width: 50%;
  padding: 10px;
  background-color: #6e1280;
  color: #fff;
  border: none;
}

input[type="text"] {
  display: block;
  margin: 30px auto;
  width: 85%;
  text-align: center;
  font-size: 1.25em;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  padding-bottom: 70px;
  width: 450px;
}

li {
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
  background-color: #fff;
  position: relative;
}

.username {
  font-style: italic;
  display: block;
  text-align: left;
}

.message {
  font-size: 1.25em;
  padding: 10px 0;
  display: block;
}

.date {
  display: block;
  text-align: right;
  font-size: 0.85em;
  color: #6f6f6f;
}

form.chat {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #7449948f;
}

.chat input[type="text"] {
  width: 60%;
  display: inline-block;
  height: 29px;
  margin-right: 15px;
}

.chat input[type="submit"] {
  width: 20%;
  display: inline-block;
}

.tiny-text {
  font-size: 0.85em;
  display: block;
  margin-top: 10px;
  font-style: italic;
}